<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378478026518-pd1g6vvjs2ni227u2mjp2ooln4i8vk6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378478026518-pd1g6vvjs2ni227u2mjp2ooln4i8vk6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378478026518-tcmf0jbrcktavf0fj4ved68knp9u0tui.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUMGNsNdCBlOaR7PT7F2I0c4nK6rNsJRk</string>
	<key>GCM_SENDER_ID</key>
	<string>378478026518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.binarychaos.firebase-auth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-test-3e887</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-test-3e887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378478026518:ios:d07aeaa08471eeb7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-test-3e887.firebaseio.com</string>
</dict>
</plist>